@charset "utf-8";
/* CSS Document */
/*Menus*/
/* Estilos que crean el menú desplegable */
/*Eliminamos padding y margin que introducen navegadores por defecto en listas*/
.mimenu{
	border-radius: 5px;
    list-style-type: none;
    background: #999;
    background: -moz-linear-gradient(white,#999);
    background: -webkit-linear-gradient(white,#999);
    background: -o-linear-gradient(white,#999);
    background: -ms-linear-gradient(white,#999);
    background: linear-gradient(white,#999);	
	margin-left:35px;
	margin-right:35px;
}

#listamenu { 
padding:0;
margin:0;
font-family:Verdana, Geneva, sans-serif;
font-size:15px;
}

/*Elementos items principales de menú que se muestran siempre*/
#listamenu li {
	list-style: none;
	float: left; 
	margin:1px;
	}
   
#listamenu li a {
   display: block; /* Usamos display block para poder aplicar propiedades de caja a links */
   padding: 8px; 
   background-color: none; 
   color: #535C6D;/*color de texto*/
   /*color:#004A95;*/
   text-decoration: none;
   cursor:pointer;
   }

/*Listas de subitems de menú*/   
#listamenu li ul {
   display: none; /*La lista inicialmente no se muestra debido a display:none; */
   /*background-color: #69f;*/
   }
   
#listamenu li:hover ul {
   font-size: 12px;
   cursor: pointer;
   display: block; /*Al situar el cursor sobre el item la lista de subitems pasa de display none a display block y se muestra*/
   position: absolute; /*Al desplegarse el submenú no ocupa espacio y no desplaza a otros elementos gracias a que establecemos position absolute*/
   margin: 0; padding: 0; /*Anulamos margin y padding que por defecto introducen navegadores*/
   }
#listamenu li:hover li { float: none; } /*Anulamos el float left que define el elemento padre para que los subitems se muestren en vertical */
   
/*Creamos la apariencia de los subitems de menú, color de fondo, borde inferior, color de texto*/
#listamenu li:hover li a { 
background-color:#C0C0C0;
/*border-bottom: 1px solid #fff;*/
color:#535C6D;
cursor: default;
border-radius:4px;
 background: -moz-linear-gradient(white,#999);
    background: -webkit-linear-gradient(white,#999);
    background: -o-linear-gradient(white,#999);
    background: -ms-linear-gradient(white,#999);
    background: linear-gradient(white,#999);
 }

/*Creamos el efecto de cambio de color y aspecto cuando ponemos el puntero del ratón sobre un subitem de menú*/   
#listamenu li li a:hover { background-color: #8db3ff; }
   
.limpiador{padding:0; border-style:none; clear:both; } /*Forzamos a la caja a mostrarse aún conteniendo elementos flotantes*/

/***MENU USUARIO***/
#controlusuario{
padding: 0px;
/*margin: 0 50px 0 0;*/
font-family:Verdana, Geneva, sans-serif;
font-size:15px;
}

#controlusuario li {
	list-style: none;
	float:right;
	/*margin:1px;*/	
	}
   
#controlusuario li a {
   display: block;
   padding: 8px; 
   background-color: none; 
   color: #fff;/*color de texto*/
   text-decoration: none;
   }
     
#controlusuario li ul {
   display: none;   
   width:11%;   
   }
   
#controlusuario li:hover ul {
   font-size: 12px;
   display: block;
   position: absolute;
   margin: 0; padding: 0;
   cursor: pointer;
   }
#controlusuario li:hover li { float: none; }
   
/*Creamos la apariencia de los subitems de menú, color de fondo, borde inferior, color de texto*/
#controlusuario li:hover li a { 
background-color:#C0C0C0;
/*border-bottom: 1px solid #fff;*/
/*color:#666;*/
color:red;
/*border-radius:4px;*/
 background: -moz-linear-gradient(white,#999);
    background: -webkit-linear-gradient(white,#999);
    background: -o-linear-gradient(white,#999);
    background: -ms-linear-gradient(white,#999);
    background: linear-gradient(white,#999);
 }

/*Creamos el efecto de cambio de color y aspecto cuando ponemos el puntero del ratón sobre un subitem de menú*/   
#controlusuario li li a:hover { background-color: #8db3ff; }

.login{
  border-radius: 5px;
  list-style-type: none;
  color: #0080c0;
  background: #999;
  background: -moz-linear-gradient(white,#999);
  background: -webkit-linear-gradient(white,#999);
  background: -o-linear-gradient(white,#999);
  background: -ms-linear-gradient(white,#999);
  background: linear-gradient(white,#999);
  width: 200px;
  height: 110px;
  margin-left: -155px;
}